@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body, figure, img, div, input, textarea, p, h1, h2, h3, h4, h5, h6, ul, li, a, main{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    resize: none;
}
body{
    font-family: 'Poppins', sans-serif; 
}

/* HEADER */

.banner{
    width: 100%;
    text-align: center;
}
.banner_img{
    width: 100%;
    background-image: url(/assets/img/Banner.jpg);
    background-size: cover;
    background-position: center center;
    padding: 100px 0;
}
.logo{
    width: 100%;
}
.logo h1 a{
    font-size: 500%;
    width: 100%;
    color: #0022e6;
}
main{
    width: 75%;
    height: 1000px;
    margin: auto;
}
main h1{
    padding: 50px 0 25px;
    text-align: center;
    font-size: 40px;
}
.fluxograma{
    height: 40%;
    margin-bottom: 150px;       
}
main p{
    text-align: justify;
    font-size: 20px;
}
main .pTop{
    padding-top: 50px;
}
main img{
    padding-top: 20px;
    width: 100%;
}
footer{
    margin-top: -10px;
    width: 100%;
    color: #14226d;
}

@media only screen and (max-width: 900px){
    .logo h1 a{
        font-size: 400%;
    }    
}   
@media only screen and (max-width: 720px){
    .logo h1 a{
        font-size: 290%;
    }    
    main h1{
        font-size: 30px;
    }
    .fluxograma{
        height: 30%;     
    }  
}
@media only screen and (max-width: 530px){
    .logo h1 a{
        font-size: 230%;
    }
    main h1{
        font-size: 20px;
    }
    main p{
        font-size: 15px;
    }
    .fluxograma{
        height: 20%;     
    }  
}
@media only screen and (max-width: 450px){
    .logo h1 a{
        font-size: 160%;
    }
    main p span{
        font-size: 13px;
    }
    .fluxograma{
        height: 15%;     
    }  
}
@media only screen and (max-width: 370px){
    .logo h1 a{
        font-size: 113%;
    }
    main p{
        font-size: 12px;
    }
    main p span{
        font-size: 10px;
    }
}
